.SeatsContainer {
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px 10px;
  height: fit-content;
}

.Seats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 15px;
}


.Seats :global(.MuiIconButton-root),
.Seats :global(.MuiSvgIcon-root) {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .Seats {
    grid-template-columns: repeat(10, 1fr);
    row-gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  .SeatsContainer {
    padding: 20px 20px;
  }
}