main {
  display: flex;
  flex-direction: column;

  height: 100svh;
}

header {
  background-color: #FFF;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 3px rgba(255, 255, 255, .7);
  z-index: 1;
}

section {
  flex-grow: 1;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  section {
    padding: 20px 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
  }
}